$govuk-assets-path: '/assets/';

@import "node_modules/govuk-frontend/govuk/all";

.inss-app--app-environment {
    text-align: center;
    line-height: 2.5;
    font-family: Verdana;
    font-size: medium
}

.inss-app--app-environment--local-dev {
    background: orange;
    color: #000
}

.inss-app--app-environment--dev {
    background: #ff0;
    color: #000
}

.inss-app--app-environment--sit {
    background: #fc0;
    color: #000
}

.inss-app--app-environment--pp {
    background: #e60000;
    color: #fff
}

.inss-app--app-environment--prod {
    background: red;
    color: #fff;
    display: none !important;
    visibility: hidden !important
}

.inss-app-hide {
    display: none !important;
    visibility: hidden !important
}

.inss-app-show {
    display: inherit;
    visibility: visible
}